name: EqM
channels:
  - pytorch
  - nvidia
  - defaults
dependencies:
  - python=3.10
  - pytorch=2.5.1
  - torchvision=0.20.1
  - pytorch-cuda=12.1
  - pip
  - pip:
      - timm
      - diffusers
      - accelerate
      - torchdiffeq
      - wandb
